extensions:
    dravencms.cookieConsent: Dravencms\CookieConsent\DI\CookieConsentExtension


services:
    routeFactory.CookieConsent: Dravencms\CookieConsent\RouteFactory
    route:
        setup:
            - addRouteFactory(@routeFactory.CookieConsent)

    cookieConsent.adminSettingsPresenter: Dravencms\AdminModule\CookieConsentModule\SettingsPresenter
    cookieConsent.frontSettingsPresenter: Dravencms\FrontModule\CookieConsentModule\SettingsPresenter

nettrine.orm:
    managers:
        default:
            mapping:
                DravencmsCookieConsent:
                    type: attributes
                    directories:
                        - %appDir%/../vendor/dravencms/cookie-consent/src/Dravencms/Model/CookieConsent
                    namespace: Dravencms\Model\CookieConsent



webloader:
    css:
        frontend:
            files:
                - cookieConsent/node_modules/vanilla-cookieconsent/dist/cookieconsent.css
                - cookieConsent/style.css

            fileFilters:
                - @wlCssFilter
                - @sassFilter

    js:
        frontend: 
            remoteFiles:
                - /assets/cookieConsent/node_modules/vanilla-cookieconsent/dist/cookieconsent.js
                - /cookieconsent-init
