- Dravencms\FrontModule\Components\CookieConsent\CookieConsent\Settings\SettingsFactory
- Dravencms\AdminModule\Components\CookieConsent\RobotsForm\RobotsFormFactory
- Dravencms\AdminModule\Components\CookieConsent\RobotsGrid\RobotsGridFactory
