{if $settings}
<button type="button" class="cookies-settings-icon" aria-label="{_"cookieConsent.settings.button.label"}" title="{_"cookieConsent.settings.button.label"}" data-cc="show-preferencesModal"></button>
{/if}
