<a class="cookies-settings-icon" aria-label="{_"cookieConsent.settings.button.label"}" title="{_"cookieConsent.settings.button.label"}" data-cc="c-settings" href="javascript:void(0);" aria-haspopup="dialog"></a>