{contentType text/javascript; charset=utf-8}

{if $config}
const cookieConsentConfig = {$config|noescape};
cookieConsentConfig.categories.analytics.autoClear.cookies[0].name = /^_ga/;
cookieConsentConfig.categories.targeting.autoClear.cookies[2].name = /^__Secure\./;
cookieConsentConfig.onChange = ({ changedCategories }) => {
    if (changedCategories.includes('analytics') && !CookieConsent.acceptedCategory('analytics')) {
        window.dataLayer = window.dataLayer || [];
        window.gtag = window.gtag || function () {
            window.dataLayer.push(arguments);
        };
        window.gtag('consent', 'update', {
            ad_storage: 'denied',
            analytics_storage: 'denied'
        });
    }
};
CookieConsent.run(cookieConsentConfig);
{/if}
