{block #content}
    <p n:isAllowed="cookieConsent, robotsEdit">
        <a n:href="Settings:edit" class="btn btn-primary"><i class="fa fa-plus"></i> {_"New cookie consent settings"}</a>
    </p>
    {control gridSettings}
{/block}
